* {
    margin: 0;
    padding: 0;
}
.app_wrapper {
    background-image: url("./img/Sound Store.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.2);
}